# Editor stuff
.*.swp

# Build output
*.so
*.o
.deps/

# dist output
/pg_classy-*.zip

/sql/pg_classy--*
!/sql/pg_classy--*--*.sql

# Test artifacts
results/
regression.diffs
regression.out

# Misc crap
tmp/
